.prct-img{
    height: 35rem;
    width: 35rem;
}
section{
    margin: 2rem 2rem;

}
.prdct-flex{
    display: flex;
    justify-content: left;
    gap: 2rem;
    margin: 2rem 6rem;
}
.bt1{
    padding: .7rem 3rem;
    border-radius: 2rem;
    border: 1px solid #63392C;
    background-color: white;
    color: #63392C;

}
.bt1:hover{
    border-radius: .2rem;

}
.bt2:hover{
    border-radius: .2rem;

}
.bt2{
    padding: .7rem 3rem;
    border-radius: 2rem;
    border: 1px solid #63392C;
    background-color: white;
    color: #63392C;
}
.bt3{
    padding: .7rem 3rem;
    border-radius: 2rem;
    border: 1px solid #63392C;
    background-color: white;
    color: #63392C;

}
.prdct{
    display: flex;
    justify-content: center;
    gap:4rem;
    flex-wrap: wrap;
}
.pr-img{
    height: 6rem;
    width: 10rem;
}
.btn{
    border: none;
    background-color: white;
    font-size: 1rem;

}
.btn1{
    border: none;
    background-color: white;
    font-size: 1rem;
}
#productSpecs {
    display: none;
}

.fl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-basis: 19%;
}

.fl p {
    margin: 0;
}

/* user.html */

.log{
    font-family: "DM Serif Display",serif;
    color: #63392C;
}
.log-in{
    padding: .8rem;
    width: 17rem;
    border: 1px solid #d0cece;
    border-radius: 0.3rem;
}
.log-div{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: 3rem 2rem;
}
.log-bt{
    background-color: #63392C;
    color: white;
    padding: 1rem 7rem;
    border: none;
    border-radius: .3rem;
    font-size: 16px;
}
.log-a1{
    text-decoration: none;
    color: #63392C;
    padding: .8rem 5.5rem;
    
    border: 1px solid #63392C;
    border-radius: .3rem;
    font-size: 16px;
}
.log-a1:hover{
    background-color: #63392C;
    color: white;
}
.log-a2{
    text-decoration: none;
    color: #63392C;
    padding: .8rem 8rem;
    
    border: 1px solid #63392C;
    border-radius: .3rem;
    font-size: 16px;
}
.log-a3{
    text-decoration: none;
    color: #63392C;
    padding: .8rem 5rem;
    
    border: 1px solid #63392C;
    border-radius: .3rem;
    font-size: 16px;
}
.log-a3:hover{
    background-color: #63392C;
    color: white;
}
.log-a2:hover{
    background-color: #63392C;
    color: white;
}
/* register.html */
.reg{
    margin: 1rem 0;
}
.log-a4{
    text-decoration: none;
    color: #63392C;
    padding: .8rem 7.5rem;
    
    border: 1px solid #63392C;
    border-radius: .3rem;
    font-size: 16px;
}
.log-a4:hover{
    background-color: #63392C;
    color: white;
}
.log-bt1{
    background-color: #63392C;
    color: white;
    padding: 1rem 7rem;
    border: none;
    border-radius: .3rem;
    font-size: 16px;
}
@media only screen and (max-width: 500px) {
    .prct-img{
        height: 23rem;
        width: 23rem;
    }
    .prdct-flex{
        
        margin: 2rem 0rem;
    }
    /* user.html */
    .log-div{
       
        padding: 3rem 1rem;
    }
    .log-bt{
        padding: 1rem 6rem;
    }
    .log-bt1{
        padding: 1rem 7rem;
    }
    .log-a1{
        padding: .8rem 4.5rem;
    }
    .log-a2{
        padding: .8rem 7rem;
    }
    .log-a3{
        padding: .8rem 3rem;
    }

    .log-a3{
        padding: .8rem 6.5rem;
    }
}