body{
    margin: 0;
    padding: 0;

}
body div,p{
    font-family: 'Switzer', sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    gap:1rem;
}
.header{
    display: flex;
    justify-content: left;
    gap:6rem;
    align-items: center;
    
}
.hd-img{
    padding: 3rem 1rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position:relative;
    z-index: 1;
    
}
.pos{
    
    border-bottom: .5rem solid rgb(245,201,89);
    position:relative;
    bottom:1rem;
    z-index: 0;
}
.nav {
    display: flex; 
    justify-content: left;
    gap: 2rem;
    font-family: 'Switzer', sans-serif;
    margin-top: 1rem;
}

.nav-link {
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 0.3s, background-image 0.3s;
    /* background-image: linear-gradient(45deg, #4200FF, #820FE7, #9C29BE, #FD7042, #FC9D49); */
    background-clip: text;
    -webkit-background-clip: text;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    top:1.5rem;
    left: 0;
    background-image: linear-gradient(45deg, #63392C, #63392C); /* Brown color for the underline */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-link:hover {
    color: black; /* Black text color on hover */
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-link.selected {
    color: black; /* Black text color when selected */
    font-weight: bold; /* Increase font weight when selected */
}

.nav-link.selected::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
ul{
    list-style-type: none;
}
.search{
    padding: .8rem 2rem;
    width: 25rem;
    border: 1px solid rgb(196, 195, 195);
    border-radius: .4rem;
}
.icon{
    position: relative;
    left: 2rem;
    top: 0.3rem;
}
input:focus {
    outline: none;
}
.hd-div{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:1rem;
}
.icon1{
    height: 1rem;
}
.box{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: .4rem .6rem;
}
.box1{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: .4rem .2rem;
}
.hd-flex{
    display: flex;
    justify-content: left;
    gap:2.5rem;
    margin-top: 1rem;
    color: #63392C;
    
}
form{
    margin-top: 1rem;
}
.c{
    color: #63392C;
}
#hd{
    display: block;
}
#hd1{
    display: none;
}
#mySidenav{
    display: none;
}
.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F9EFE1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 1rem .5rem;
    text-decoration: none;
    font-size: 18px;
    /* color: #818181; */
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    /* color: #f1f1f1; */
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
    color: black;
}
.res{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}
.res-img{
    width: 6rem;
    padding-right: 4rem;
}
.carousel {
    position: relative;
    /* max-width: 600px; */
    margin: auto;
    overflow: hidden;
    
  }

  .carousel img {
    width: 100%;
    height: 25rem;
    display: none;
    transition: opacity 0.5s ease-in-out;
  }

  .dots {
    text-align: center;
    margin-top: 10px;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #a57566;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot.active {
    background-color: #63392C;
  }
.sec-m{
    margin: 2rem 6rem;
}
#c{
    display: block;
}
#c1{
    display: none;
}

.dotted-heading {
    text-align: center;
    position: relative;
    padding: 10px 0;
    margin: 20px 0;
    color:#532d21;
    font-size: 2rem;
}

.dotted-heading::before,
.dotted-heading::after {
    content: '';
    display: inline-block;
    width: 40%; /* Adjust the width of the dotted lines as needed */
    height: 1px;
    background-color: #532d21; /* Color of the dotted lines */
    
}

.dotted-heading::before {
    margin-right: 1%; /* Adjust the margin between the text and the right dotted line */
}

.dotted-heading::after {
    margin-left: 1%; /* Adjust the margin between the text and the left dotted line */
}


.ftr{
    display: flex;
    justify-content:center;
    gap:10rem;
    flex-wrap: wrap;
    
}
.ftr-a{
    
    text-decoration: none;
    color: white;
    padding: .8rem 1rem;
    background-color: #63392C;
    border-radius: .4rem;
}
.flex1{
    display: flex;
    justify-content: center;
    gap:10rem;
}
footer{
    margin: 2rem 4rem;
}
footer p{
    font-size: 14px;
}
.ftr-icon{
    display: flex;
    justify-content: left;
    gap:1rem;
}
footer h4{
    color: #63392C;
}
@media only screen and (max-width: 800px) {
    #hd{
        display: none;
    }
    

}   
    /* Adjust the styles for smaller screens */
@media only screen and (max-width: 500px) {
    #hd{
        display: none;
    }
    #hd1{
        display: block;
    }
    #mySidenav{
        display: block;
    }
    .search{
        width: 17rem;
    }
    .pos{
        bottom: 0;
        top:1rem;
    }
    .nav-link:hover {
        /* color: transparent; */
    }
    .nav{
        display: block;
    }
    
    .nav-link:hover::after {
        transform: scaleX(0); /* Set the underline to be hidden */
        

    }
    .hd-flex{
        display: block;
        margin-top: 3rem;
    }
    .nav-link.selected::after {
        transform: scaleX(0);
        color: black;
        transform-origin: bottom left;
    }
    .res-flex{
        display: flex;
        justify-content: left;
        gap:2rem;

    }
    .nav-link.selected {
        color: black; /* Black text color when selected */
        font-weight: bold; /* Increase font weight when selected */
    }
    .nav-link::after {
        content: ' >';
    }
    .nav-link:last-child::after {
        content: ''; /* Remove ">" from the last nav-link */
    }
    .sec-m{
        margin: 2rem 1rem;
    }
    #c{
        display: none;
    }
    #c1{
        display: block;
    }
    .dotted-heading::before, .dotted-heading::after{
        width: 20%;
    }
    .flex1{
        display: block;
    }
    
    .ftr{
        /* margin-top: 1rem; */
        display: flex;
        justify-content:center;
        /* gap:10rem; */
        gap:2rem;
        flex-wrap: wrap;

        
    }
    footer{
        margin: 2rem .5rem;
    }
    footer h4{
        font-size: 14px;
    }
    footer p{
        font-size: 12px;
    }

}